/* Universal */

  
  #content-box {
    width: 500px;
    height: 500px;
    border: 10px solid lightgray;
    border-radius: 10px;

    /* background-color: green; */
    display: flex;
    margin: 0 auto;
    margin-top: 60px;

    background-image: linear-gradient(rgb(107, 155, 163), rgb(24, 71, 90), rgb(11, 50, 72));
    background-size: cover;
  
}

#pokemon-info {
    width: 250px;
    height: 500px;
    /* background-color: cyan; */
    text-align: center;
}

#pokemon-info img {
    width: 160px;
    height: 160px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}